#principal{
    display: flex;
    flex-wrap: wrap;
    width: 380px;
}
#linha{
    width: 380px;
    height: 18.090px;

}
#linha{
    display: flex;
}
.W, .E {
    width: 18.09px;
}
#S, .F{
    width: 18.09px;
}
.W{
    background-image: url(./img/mario\ \(2\).png);
    background-size: 35px;
}
.E{
    color: whitesmoke;
    background-color: whitesmoke;
}
#S{
    background-color: turquoise;
}
.F{
    background-color: blue;
}
.character{
    width: 20px;
    color: green;
    background-color: green;

}
#perso{
    font-size: 100px;
    background-image: url(./img/mario\ \(1\).png);
    background-size: 20px;
}
#fundo{
    display: flex;
    text-align: center;
    justify-content: center;
    background-image: url(./img/images.jpeg);
    background-size: 100%;
    height: 271.9px;
    border: solid black 20px;
    padding: 100px;
}
main{
    height: 271px;
}
